<ion-view view-title="Friends">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/thebombdigdy" class="item item-avatar item-icon-right">
                    <img src="img/novej_dp.jpg">
                    <h2>Novej Panjawani</h2>
                    <p>TheBombDigdy</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
